PORT=3000
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=
DB_NAME=marketplace
DB_CONNECTION_LIMIT=10
JWT_SECRET=coloca-una-clave-larga-y-unica
CORS_ORIGIN=http://54.157.69.153,http://54.157.69.153:5173,http://localhost:5173
